.text-field
{
    -fx-border-color: null;
    -fx-border-radius: 0;
    -fx-select-on-focus:false;
    -fx-background-color: null;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 1;
}

.text-field2
{
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-border-width: 2px ; 
    -fx-background-color: red;
}



  
